body,p{
	margin: 0;padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	background: #eff0f4;
	font: 3.6rem STHeiti,simsun,"microsoft yahei";
}
.header{
	width: 100%;
	height: 12.8rem;
	position: fixed;
	background: #5fc0cd;
	color: #fff;
}
.top{
	height: 4rem;width: 100%;padding-top: .8rem;
	text-align: center;
}

.top .left{
	position: absolute;
	width: 22rem;height: 2.3rem;
	left: 1.4rem;top: .8rem;
	background: url(../images/top_bar.png) no-repeat 0 0;
}
.top .center{
	position: absolute;
	width: 10.2rem;height: 2.3rem;
	left: 50%;top: .8rem;
	margin-left: -5.1rem;
	background: url(../images/top_bar.png) no-repeat -294px 0 ;
}
.top .right{
	position: absolute;
	width: 126px;height: 23px;
	right: 15px; top: 8px;
	background: url(../images/top_bar.png) no-repeat -565px 0;
}
.ctrl{
	line-height: 8.8rem;
	text-align: center;
}
.close,.register{
	position: absolute;
	font-size: 3.2rem;
}
.login{
	position: absolute;
	left: 50%;margin-left: -1em;
}
.close{
	left: 3rem;
}
.register{
	right: 3rem;
}
.main{
	padding-top: 14.4rem;
	width：100%;

}
.item{
	width: 100%;height: 5rem;
	padding: 2.4rem 0;
	background: white;
}
.item1{
	margin-bottom: 1.4rem;
}

label{
	float: left;
	height: 5.2rem;width: 15.97%;
	border-right: 2px solid #eaedee;
	background: green;
}
.item1 label{
	background: url(../images/icon.png) no-repeat 50% 6px;
}
.item2 label{
	background: url(../images/icon.png) no-repeat 50% -48px;
}

input{
	float: left;
	height: 5rem;width: 60%;
	padding: 1em;
	border: none;
	font: 3.2rem STHeiti,simsun;
	box-sizing: border-box;
}
.btn{
	width: 100%;
	height: 10rem;
	margin-top: 7rem;margin-bottom: 2rem;
	border: none;
	background: #5fc0cd;
	font: 3.6rem STHeiti,simsun;
	color: #f3f4f6;
}
.tip{
	float: right;
	margin-right: 3.4rem;
	font: 3.6rem STHeiti;
	color: #5fc0cd;
}