body,p{
	margin: 0;padding: 0;
}
html{
	webkit-text-size-adjust:none; 
	font-size: 100px;
}
body{
	background: #eff0f4;
	font: 0.36rem STHeiti,simsun,"microsoft yahei";
}
.header{
	width: 100%;
	height: 1.28rem;
	position: fixed;
	background: #5fc0cd;
	color: #fff;
}
.top{
	height: .4rem;width: 100%;padding-top: .08rem;
	text-align: center;
}

.top .left{
	position: absolute;
	width: 2.2rem;height: .23rem;
	left: 0.14rem;top: .08rem;
	background: url(../images/wifi.png) no-repeat;
	background-size: 2.2rem .23rem;
}
.top .center{
	position: absolute;
	width: 1.02rem;height: .23rem;
	left: 50%;top: .08rem;
	margin-left: -.51rem;
	background: url(../images/time.png) no-repeat;
	background-size: 1.02rem .23rem;
}
.top .right{
	position: absolute;
	width: 1.26rem;height: .23rem;
	right: .15rem; top: .08rem;
	background: url(../images/battery.png) no-repeat;
	background-size: 1.26rem .23rem;
}
.ctrl{
	line-height: .88rem;
	text-align: center;
}
.close,.register{
	position: absolute;
	font-size: .32rem;
}
.login{
	position: absolute;
	left: 50%;margin-left: -1em;
}
.close{
	left: .3rem;
}
.register{
	right: .3rem;
}
.main{
	padding-top: 1.44rem;
	width：100%;

}
.item{
	width: 100%;height: .5rem;
	padding: .24rem 0;
	background: white;
}
.item1{
	margin-bottom: .14rem;
}

label{
	float: left;
	height: .52rem;width: 15.97%;
	border-right: 2px solid #eaedee;
	background: green;
}
.item1 label{
	background: url(../images/phone.png) no-repeat 50% 50%;
	background-size: .29rem .43rem;
}
.item2 label{
	background: url(../images/pwd.png) no-repeat 50% 50%;
	background-size: .27rem .4rem;

}

input{
	float: left;
	height: .5rem;width: 80%;
	text-indent: 1em;
	border: none;
	font: .32rem STHeiti,simsun;
	box-sizing: border-box;
}
.btn{
	width: 100%;
	height: 1rem;
	margin-top: .7rem;margin-bottom: .2rem;
	border: none;
	background: #5fc0cd;
	font: .36rem STHeiti,simsun;
	color: #f3f4f6;
}
.tip{
	float: right;
	margin-right: .34rem;
	font: .36rem STHeiti;
	color: #5fc0cd;
}

@media (max-width:720px){
	html{
		font-size: 13.89vw;
	}
}